image: node:lts

stages:
  - build
  - deploy

build_site:
  stage: build
  script:
    - echo "No build needed, using root index.html"
  artifacts:
    paths:
      - index.html
      - main.js
    expire_in: 1 week

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r * .public/
  artifacts:
    paths:
      - .public
  only:
    - main
